.chat-avatar {
    width: 100%;
    height: 100%;
    background: var(--ion-color-secondary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}

ion-item {
    ion-label {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

ion-list-header {
    font-weight: bold;
    color: var(--ion-color-primary);
}