<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-title class="main-title">Mis Contrataciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <div class="list-container ion-padding">
    
    <div *ngIf="contrataciones.length === 0" class="empty-state">
        <ion-icon name="receipt-outline"></ion-icon>
        <p>No tienes planes activos o pendientes.</p>
        <ion-button [routerLink]="['/tabs/home']" shape="round">
           Explorar Planes
        </ion-button>
    </div>

    <ion-card *ngFor="let item of contrataciones" 
              class="custom-card" 
              [ngClass]="'card-status-' + item.estado">
      
      <ion-card-content>
        <div class="card-top-row">
          <h2 class="plan-name">{{ item.planes_moviles.nombre }}</h2>
          
          <span class="status-badge" 
            [ngClass]="'badge-' + item.estado">
            {{ item.estado }}
          </span>
        </div>

        <p class="plan-date">
          <ion-icon name="calendar-clear-outline"></ion-icon>
          Solicitado: {{ item.created_at | date:'dd MMM yyyy' }}
        </p>

        <ion-button class="chat-btn" expand="block" (click)="irAlChat()">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          Consultar con un Asesor
        </ion-button>

      </ion-card-content>
    </ion-card>

  </div>
</ion-content>